
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,700';
	
	body{
		font-size: 16px;
		font-family: 'Work Sans', sans-serif;
		top: 0;
	}	

/*contact-us*/
/*logo-landing*/
	.hide {
            display: none;
        }

/*Hamberguer menu _ This is only visible on small displays*/

	#modifyGeneralInfo{
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: rgba(0,0,0,0.8);
	height: 100vh;
	position: fixed;
	z-index: 100;
}

.modifications{
	width: 60%;
	margin-left: 20%;
	background-color: white;
	margin-top: 20px;
	max-height: 95vh;
	overflow-y: auto;

}

#generalInfoButton{
	width: calc(1.2rem + 1vw);
	height: calc(1.2rem + 1vw);
	display: block;
	width: 80%;
	margin-left:10%; 
}

#generalInfoButton img{
 	position: absolute;
 	width: calc(1.2rem + 1vw);
	height: calc(1.2rem + 1vw);
	right: 15%;
}


.modification-fields{
	width: 90%;
	margin-left:5%;
	text-align: left; 

}

.modification-fields span{
	color: gray;
	font-weight: lighter;
	font-size:calc(0.5rem + 1vw);
}

.modification-fields div{
	border: solid 1px lightgray;
	padding: 5px;
	font-size:calc(0.5rem + 1vw);
}

	.modifications-banner{
		width: 100%;
		height: auto;
		position: relative;
		object-fit: cover;
		overflow: hidden;
		margin-bottom: 20px;
		z-index: 100;


	}

	.modifications-background{

		min-width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: -1;
	}

	.logo-modifications{
		width: 15%; 
		margin-top: 20px;
		margin-bottom: 20px;
	}


	.head-modification{
		width: 100%;
		height: calc(1.7rem + 1vw);

	}

	.head-modification p{
		padding-top: 5px;
		font-size: calc(0.4rem + 1vw); 
		text-align: left;
		color: #56467A;
		padding-left: 20px;
	}

	.save-modification{
		background-color:#3EB2A0; 
		border-color: #3EB2A0;
		border-radius: 10px;
		color: white;  
		margin: 10px; 
		z-index: 30;
		width:30%
	}



	#closeModifications{
		position: absolute;
		color: #56467A;
		right: 21%;
		top: 15px;
		z-index: 100;
		font-size: calc(1rem + 1vw); 
	}

	#closeModifications:hover{

		text-decoration: none;
	}	

	.ham-container{
		z-index: 90;
	}
	
	.hamberguer{
		top: 5px;
		left: 30px;
		position: absolute;		
	}



/*
Side Navegarion */
	#mySideNav{
	width: 0;
	height: 100%;
	z-index: 100;	
	background-color: black;
	opacity: 0.9;
	display: block;
	position: fixed;
	text-align: center;
	transition: width 1s; 
	overflow-x: hidden;

	}

    #closeIcon{
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
	}

	.sideNav a{
	text-decoration: none;
	font-size: 1.3em;
	color: white;
	display: block;
	padding: 5px;
	font-family: Work Sans;
	margin-top: 30px;

	}

	.sideNav a:hover{
	color: #62C4B2;
	text-decoration: none;
	}



/*Sign in modal dialog box*/


	.modal-dialog {
	    width: 300px;
	}
	.modal-footer {
	    height: 70px;
	    margin: 0;
	}
	.modal-footer .btn {
	    font-weight: bold;
	}

	.input-group-addon {
	    color: #fff;
	    background: #3276B1;
	}



/*Header Landing Page*/
	.logo-landing{
		width: 10%; 
		height: 10%;
		margin-top: 30px;
		border-radius: 10%; 
	}

	.top-banner{
		width: 100%;
		height: auto;
		position: relative;
		object-fit: cover;
		overflow: hidden;


	}

	.banner-background{

		min-width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: -100;
		top: 0;
		left: 0;
		overflow: hidden;
/*		max-height: 500px;*/
	/*	object-position:0 0;
		
		overflow: hidden;*/
	}

	#home{
		width: 100%;
		text-align: center;

	}

	.fixed{
		position: fixed;
		color: red;
	}

	.big-text{
		font-size: 5em;
		top: 100px;
		font-family: 'Work Sans';
		position: relative;
		color: white;
	}

	#contact-us, #hide-contact{
		background-color:#3EB2A0; 
		border-color: #3EB2A0;
		border-radius: 10px;
		color: white;  
		margin: 10px; 
		z-index: 30;
		width:70%;
	}


	.introtext{
		font-size: calc(0.6rem + 1vw); 
		width: 70%; 
		text-align: 
		center; margin-left: 15%; 
		color: white; 
		font-weight: lighter;
	}

/* news page */
	.news{

		width: 100%;
		height: auto;
		margin-left: 0vw;
		z-index: 1;
		position: relative;
		text-align: center;
	}

/*---------------------------------------------------------*/
/* runway section */
/*---------------------------------------------------------*/
	.runway{
		width: 100%;
		margin-left: 0vw;
		z-index: 1;
		position: relative;
		text-align: center;
	}

	.runway-container{
		width: 100vw;
		text-align: center;
		margin-top: 1vw; 
	}


/*---------------------------------------------------------*/
/* spinouts section */
/*---------------------------------------------------------*/
	.spinouts{
		width: 100%;
		margin-left: 0vw;
		z-index: 1;
		position: relative;
		text-align: center;
	}

	.spinouts-container{
		width: 100vw;
		text-align: center;
		margin-top: 1vw; 
	}

	.filter_dot{
		position: absolute;
		margin-top: -30px;
		margin-left: -30px;
	}

	.filter_cat{
		position: relative;
		background-color: gold;
		display: inline-flex;
		border-radius: 15px;
		width: 30px;
		height: 30px;
		margin: 10px;
	}

	.startup{
		margin: 0.5vw;
		width: calc(100vw / 3.3);
		height: calc(100vw / 4);
		background-color: white;
		border: solid lightgray 15px;
		display: inline-flex;

	}

	.logo-cont{
		display: block;
	    margin: auto;
	    width: calc(100vw / 4);

	}

	.logo-cont img{
		display: block;
	    margin:auto;
	    width: 80%;
	   /* margin-top: 30%;*/
	}


/* First Menu Bat */
	.menubar{
	
		width: 100%
		height: 50px;
		margin-left: 0;
		margin-top: -50px;
		z-index: 10;
		opacity: 0;

		
	}

	.fixed{
		position: fixed;
		display: inline-block;
		top: 50px;
		width: 100%;
		background-color: black;
		width: 100%
		height: 50px;
		transition: opacity 1s;
		webkit-transition:opacity 1s;
		opacity: 0.9;
		z-index: 10;

	}



	.menubar nav{
		align-content: center;
		text-decoration: none;
		text-align: center;
		list-style-type: none;
		padding-top: 11px;
		width: 100%;
		height: 50px;
		margin-top: -50px;
		z-index: 20; 

	}

	.menubar nav li{
		position: relative;
		display: inline-block;
		padding-left: 1vw;
		padding-right: 1vw;

	}


	.submenu{
		text-decoration: none;
		color: gray;
		background-color: none;
		font-size: 20px;
		font-family: 'Work Sans', sans-serif;
		padding: 13px;

	}

	.submenu:hover{
		/*background-color: #604B9F;*/
		color: white;
		text-decoration: underline #7A6AA5;
	}



/*Second Menu Bar (This is a filter)	*/

	.search {
	  width: 100%;
	  position: relative
	}

	.searchTerm {
	  /*float: left;*/
	  position: absolute;
	  width: 100%;
	  border: 2px solid #56467A;
	  padding: 5px;
	  height: 35px;
	  border-radius: 5px;
	  outline: none;
	  color: lightgray;
	}

	.searchTerm:focus{
	  color: #56467a;
	}

	.searchButton {
	  position: absolute;
	  right: 0;  
	  width: 35px;
	  height: 35px;
	  border: 1px solid #56467A;
	  background: #56467A;
	  text-align: center;
	  color: #fff;
	  border-radius: 5px;
	  cursor: pointer;
	  font-size: 20px;
	}

	/*Resize the wrap to see the search bar change!*/


	.wrap{
	  position: absolute;
	  margin-top: 7.5px;	
	  width: 400px;
	  margin-left: 20px;
	}

	.filtermenu{
		width: 100%;
		height: 50px;
		background-color: rgba(255,255,255,0.95);
		position: absolute;
		margin-top: 50px;
		transition: opacity 1s;
		webkit-transition:opacity 1s;
		opacity: 0;
	}

	.nodisappear{
		opacity: 1;
	}

/*Inside the second menu, this is the FILTER*/
	
	.filter-container{
		text-align: center;
		position: absolute;
		right: 30px;
		margin-top: 7.5px;
		margin-left: 10px;
		margin-right: 10px;

	}



	.filter-container div{
		display: inline-flex;

	}

	.filter-container div label{
		color: dimgray;

	}
	
	.allboxes{
	    opacity: 0;
	    position: absolute;
	     
	}

	.allboxes, .alllables{
	    display: inline-block;
	    vertical-align: middle;
	    margin: 5px;
	    cursor: pointer;
	}

	.alllables{
	    position: relative;
	}

	.allboxes + .alllables:before{
	    content: '';
	    display: inline-block;
	    vertical-align: middle;
	    width: 20px;
	    height: 20px;
	    padding: 2px;
	    margin-right: 10px;
	    text-align: center;
	}

	.allboxes:checked + .alllables:before {
	    background: transparent;
	}

	.checkbox-custom1 + .checkbox-custom-label1:before{
	    border: 2px solid #56467A;
	}

	.checkbox-custom1:checked + .checkbox-custom-label1:before {
	    background: #56467A;	
	}

	.checkbox-custom2 + .checkbox-custom-label2:before{
	    border: 2px solid #3EB2A0;
	}

	.checkbox-custom2:checked + .checkbox-custom-label2:before {
	    background: #3EB2A0;
	}

	.checkbox-custom3 + .checkbox-custom-label3:before{
	    border: 2px solid #FFCA00;
	}

	.checkbox-custom3:checked + .checkbox-custom-label3:before {
	    background: #FFCA00;
	}

	.checkbox-custom4 + .checkbox-custom-label4:before{
	    border: 2px solid #393939;
	}

	.checkbox-custom4:checked + .checkbox-custom-label4:before {
	    background: #393939;
	}

	.allboxes:focus + .alllables {
	  outline: none; /* focus style */
	}


	.filterButton {
	  right: 0;  
	  width: 35px;
	  height: 35px;
	  border: 1px solid #56467A;
	  background: #56467A;
	  text-align: center;
	  color: #fff;
	  border-radius: 5px;
	  cursor: pointer;
	  font-size: 20px;
	  display: none;
	  position: absolute;
	  margin: 7.5px;
	}



/*Footer*/

	footer{
		opacity: 0.9;
		width: 100%
		height: 15vh;
		bottom: 0;
		position: relative;
		z-index: 30;
		transition: 0.5s;
		background-color: #604B9F;
		
	}


	.purple{
		color: white;
		text-decoration: underline #7A6AA5;
		/*text-decoration: none;*/
	}


	/*.t1, .t2, .t3, .t4, .t5 {
		opacity: 0;
		transition: opacity 0.5s;
	}*/
	.appear{
		opacity: 1;
	}

	.display{
		display: all;
		opacity: 1;
		transition: 0.5s;
	}


/*Gallery */
	@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%; } }

.carousel-multi-item-2 .card img {
    border-radius: 2px; }
	


/*Medium Screens*/
@media (max-width: 890px) {

	.filterButton {
		display: inline-block;
	}

	.filter-container{
		text-align: left;
		right: 0;
		padding: 10px;
		margin-top: 50px;
		/*background-color: rgba(255,255,255,0.5);*/
		margin-right: 0;
		z-index: 200;
	}	



	.filter-container div{
		display: none;

	}


	.filter-container div.seefilter{
		display: block;
	}



	

}	


/*Small Screens*/
@media (max-width: 750px) {

/*Show hamburguer menus in small displays and hide menu bar*/	


	.menubar nav{
		display: none;
	}



}





/*---------------------------------------------------------*/
/* Resources Page */
/*---------------------------------------------------------*/
#addName{
	width: 100%;
}

.badge{
	width: 80%;
	margin-left:10%;
	text-align: left; 
}

.badge p{
	font-size:calc(0.4rem + 1vw);
	max-width: 80vw;

}


